extends layout

block content
  h1 #{title}: #{book.title}

  p #[strong Author:]
    a(href=`/author/${book.author_id}`) #{book.author_first_name} #{book.author_family_name}
  p #[strong Summary:] #{book.summary}
  p #[strong ISBN:] #{book.isbn}
  p #[strong Genre:] #{book.genre}
  p #[strong Tags:]
  if tags.length
    ul
      each tag in tags
        li #{tag}
  div(style='margin-left:20px;margin-top:20px')
    h4 Copies

    each val in book_instances
      hr
      if val.status=="Available"
        p.text-success #{val.status}
      else if val.status=="Maintenance"
        p.text-danger #{val.status}
      else
        p.text-danger #{val.status}
      p #[strong Imprint:] #{val.imprint}
      if val.status="Available"
        p #[strong Due back:] #{val.due_date}
      p #[strong Id:]&nbsp;
        a(href=`/bookinstance/${val.instance_id}`) #{val.instance_id}
    else
      p There are no copies left of this book in the library.
    hr
    p
      a(href=book.book_id+"/delete") Delete Book
    p
      a(href=book.book_id+"/update") Update Book
