extends layout

block content
  h1= title

  ul
    each book in book_list
      li
        a(href=`book/${book.id}`) #{book.title}
        | (#{book.author_family_name}, #{book.author_first_name})

    else
      li There are no books.
